.footer-footer {
    background-color: var(--subsection);
    height: 5rem;
    margin-top: auto;
    width: 100%;
}

.footer-container {
    margin: 0 0 0 var(--margin);
    line-height: 5rem;
    display: flex;
    flex-direction: row;
    justify-content: baseline;
}

.footer-container > * {
    margin: 0 2rem 0 0
}

.footer-link {
    color: var(--linkColor);
    transition: var(--standardTransition)
}

.footer-link:hover {
    color: green
}

@media screen and (max-width: 419px) {
    .footer-container {
        justify-content: center;
    }
}